$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 5px 20px;
}

h4 {
  font-size: 20px;
}

a {
  cursor: pointer;
}

.container {
  width: 1400px;
}

.mouseover-title {
  position:absolute;
  color: slategrey;
  
  max-width: 150px;
}

.tech-label {
  background: white;
  font-size: 9pt;
}

.tech-label.active {
  font-weight: 800;
  font-size: 1.05em;
  color: #4889ff;
  cursor: pointer;
  > circle {
    fill: tomato !important;
  }
}

.tech-label.highlight:not(.active) {
  font-weight: 800;
  color: gray;
  > circle {
    fill: black !important;
  }
}

.badge {
  font-size: 0.8em;
  margin-left: 3px;
}

.technologyType {
  font-size: 0.8em;
  vertical-align: super;
  color: grey;
  padding-left: 8px;
}

.radar-manager {
  float: left;
  
  ul {
    list-style-type: none;
    margin: 5px;
  }
  
  .side-panel {
    width: 400px;
    
    .active-tech {
      font-weight: bold;
      color: #4889ff;
    }
  }
}

.category {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  
  h5 {
    font-size: 1.1em;
  }
  
  li > a {
    color: black;
  }
}

.info {
  width: 750px;
  
  .same-technologies {
    float: left;
    li {
      padding: 2px 0;
    }
  }
}

.overview {
  margin-top: 50px;
  
  table td {
    border: 1px solid;
    padding: 5px;
  }
  
  .highlight {
    h3 {
    color: #4889ff;
    }
  }
}

.radar-chooser {
  margin-top: 20px;
}
