<h1>Javascript Technology Radar</h1>
<br>
<div class="container">
    <div class="row">
        <div class="pull-left">
            <span class="mouseover-title">
                <h3>{{activeCategory.label}}</h3>
                <h4>{{activeStatus.label}}</h4>
            </span>
            <radar-diagram height="800" width="800"/>
        </div>
        <div class="pull-left radar-manager">
            <ul class="nav nav-tabs">
                <li ng-repeat="status in radarData" ng-class="{active : status.active}">
                    <a data-label="{{ status.label }}" ng-click="setActive(status)">{{ status.label }}</a>
                </li>
            </ul>
            <div ng-repeat="status in radarData" ng-show="status.active">
                <div class="category" ng-repeat="category in status.categories" style="background-color: {{category.color}}">
                    <h5 style="display: inline;">{{ category.label }}</h5>
                    <ul>
                        <li ng-repeat="technology in category.technologies" ng-class="{'active-tech' : technology.active}">
                          <a ng-click="selectTech(category, technology)">{{ technology.label }}</a>
                        </li>
                    </ul>
                </div>
                <div>
                  <h3>{{status.label}}</h3>
                  {{status.text}}
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="activeTechnology">
      <h2>{{activeTechnology.label}}</h2>
    </div>
</div>